body{
  background-image: url(../background.jpg);
}

H1 {
  text-align: left;
  }

.login_box{
    margin: auto;

    display: block;
    width: fit-content;

    text-align: center;
    border-style: solid;
    border-color: orange;
    background-color: antiquewhite;

    padding: 50px;
    padding-top: 30px;

    z-index:2
}

button{
  width: 100%;
  background: none;
  border: 2px solid orange;
  color: white;
  background-color: orange;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
}

input{
  font-size: 20px;
}

img{
  margin: auto;
  padding-right: 30%;
  display: block;
  float: center;
  width: 20%;
  height: auto;
}

.login_warning{
  margin: unset;
  text-align: left;
  color: red;
}