.page{
  text-align: left;
  padding: 100px;
}
h2 {
  text-align: center;
}



.items, .users, .settings{
  margin: auto;
  margin-top: 60px;
}

.generic_button{
  margin-right: 50px;
  margin-top: 10px;
}

.underline {
  margin-top: 50px;
  text-align: left;
  border-bottom: 1px black solid;
