.page{
  padding: 60px 120px;
  text-align: center;
}
button {
  background-color: white; 
  color: black; 
  border: 2px solid #ff6804;
  padding: 20px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 45px;
}
.col-25 {
  float: left;
  width: 20%;
  margin-top: 20px;
  text-align: right;
  margin-right: 20px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.radio_buttons{
  padding: 10px 10px;
  text-align: center;
  margin-top: 20px;
}

input[type=file]{
  float: left;
}

.largetext{
  font-size: 50px;
}