/*
============================= SLIDESHOW =============================
  */
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  
  /*
  =============== Categories on home page =========
  */
  
  button {
    background-color: white; 
    color: black; 
    border: 2px solid #ff6804;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .categories_home_page{
    text-align: center;
    margin-top: 50px;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
  
  .category_home_page {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    margin: 20px;
    max-width: 310px;
    min-width: 300px;
    overflow: hidden;
    position: relative;
    
    display: inline-block;
    text-align: center;
  }
  
  .category_home_page * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .category_home_page img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    
  }
  
  .category_home_page figcaption {
    padding: 25px 20px 25px;
    position: relative;
    bottom: 0;
    z-index: 1;
    background-color: #ff6804;
    height: 150px;
  }
  
  .category_home_page figcaption:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    content: '';
    background: #ff6804;
    opacity: 0.8;
    z-index: -1;
  }
  
  
  
  .category_home_page h3,
  .category_home_page p {
    margin: 0;
    padding: 0;
  }
  
  .category_home_page h3 {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
  }
  
  .category_home_page p {
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 0px;
  
    z-index: -1;
  }
  
  .category_home_page a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
  }
  
  .category_home_page:hover img,
  .category_home_page.hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


  .container {
    padding: 2px 16px;
  }

  .category{
    display: inline-block;
    text-align: left;
  }
  
   .cat_button{
    background-color: white;
    color: black;
    border: 2px solid #ff6804;
    padding: 5px 2px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 170px;
    height: 80px;
    text-align: center;
      }

